git+https://github.com/huggingface/smolagents.git
transformers
accelerate
bitsandbytes
torch
spaces
gradio

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-classic
chromadb
rank_bm25
sentence-transformers
pypdf