smolagents
crewai
crewai-tools
markitdown
chonkie[st]
firecrawl-py
transformers
accelerate
bitsandbytes
langchain
langchain-community
langchain_huggingface
langchain_chroma
chromadb
pypdf
qdrant_client
jinja2
spaces
gradio
pydantic
litellm
duckduckgo-search
